<%= form_with(model: course_maker, local: true) do |form| %>
  <% if course_maker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_maker.errors.count, "error") %> prohibited this course_maker from being saved:</h2>

      <ul>
      <% course_maker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.text_field :course_id, id: :course_maker_course_id %>
  </div>

  <div class="field">
    <%= form.label :page_number %>
    <%= form.number_field :page_number, id: :course_maker_page_number %>
  </div>

  <div class="field">
    <%= form.label :page_heading %>
    <%= form.text_field :page_heading, id: :course_maker_page_heading %>
  </div>

  <div class="field">
    <%= form.label :page_content %>
    <%= form.text_area :page_content, id: :course_maker_page_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
